{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      {% block title %}
        Lent anything
      {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style>
      img.card-img-top {
        max-height: 150px;
        width: 100%;
        object-fit: cover;
      }
    </style>
  </head>

  <body>
    {% block modals %}

    {% endblock %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <button class="navbar-toggler my-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <div class="d-flex align-items-center p-1">
            {% comment %} <div class="navbar-toggler-icon"></div> {% endcomment %}
            <i class="fa-solid fa-caret-down fa-lg"></i>
            <div class="ms-2">Menu</div>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <a class="navbar-brand" href="{% url 'home' %}">Lent</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'items' %}">Items</a>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="#">Calendar</a>
            </li> {% endcomment %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'lents' %}">My lents</a>
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <div class="me-2">
              <small>You're logged in as <strong>{{ user.username }}</strong></small>
            </div>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>
          </div>
          {% comment %} <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> {% endcomment %}
        </div>
      </div>
    </nav>

    {% block content_top %}

    {% endblock %}

    <div class="container pt-4">
      {% block content %}

      {% endblock %}
    </div>

    <script src="" async defer></script>
  </body>
</html>
