{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      {% block title %}
        Lent anything
      {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="{% static 'main.css' %}" rel="stylesheet" />
    <script src="{% static 'bundle.js' %}"></script>

    <style>
      img.card-img-top {
        max-height: 200px;
        width: 100%;
        object-fit: cover;
      }

      /* .navbar {
        -webkit-box-shadow: 0px 0px 5px 0px #606060;
        -moz-box-shadow: 0px 0px 5px 0px #606060;
        box-shadow: 0px 0px 5px 0px #606060;
      } */

      .navbar.fixed-top {
        border-bottom: thin solid #606060;
      }

      .navbar.fixed-bottom {
        border-top: thin solid #606060;
      }

      {% comment %} Adjust padding for navbars {% endcomment %}
      body {
        padding-top: 0.5rem;
        padding-bottom: 100px;
      }

      @media (min-width: 992px) {
        body.fixed-top-padding {
          padding-top: 80px;
          padding-bottom: 0.5rem;
        }
      }
    </style>
  </head>

  <body class="fixed-top-padding fixed-bottom-padding">
    {% block modals %}

    {% endblock %}

    {% comment %}Desktop navbar{% endcomment %}
    <nav class="navbar bg-light fixed-top d-none d-lg-block">
      <div class="container justify-content-between">
        <div class="d-flex">
          <a class="navbar-brand" href="{% url 'home' %}">Lent</a>
          <a href="{% url 'items' %}" class="nav-item nav-link ms-5">
            <div class="btn {% if request.resolver_match.url_name == 'items' %}bg-dark-subtle{% endif %}">
              <i class="fa-solid fa-plus {% if request.resolver_match.url_name == 'items' %}fa-lg{% endif %}"></i>
              Book
            </div>
          </a>
          <a href="{% url 'lents' %}" class="nav-item nav-link ms-2">
            <div class="btn {% if request.resolver_match.url_name == 'lents' %}bg-dark-subtle{% endif %}">
              <i class="fa-solid fa-hourglass {% if request.resolver_match.url_name == 'lents' %}fa-lg{% endif %}"></i>
              My lents
            </div>
          </a>
          <a href="#" class="nav-item nav-link ms-2">
            <div class="btn {% if request.resolver_match.url_name == 'calendar' %}bg-dark-subtle{% endif %}">
              <i class="fa-solid fa-calendar {% if request.resolver_match.url_name == 'calendar' %}fa-lg{% endif %}"></i>
              Calendar
            </div>
          </a>
        </div>
        <div class="d-flex align-items-center">
          <div class="me-2">
            <small>You're logged in as <strong>{{ user.username }}</strong></small>
          </div>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger">Logout</button>
          </form>
        </div>
      </div>
    </nav>

    {% comment %}Mobile navbar{% endcomment %}
    <nav class="navbar bg-light fixed-bottom justify-content-around d-lg-none py-1">
      <a href="{% url 'items' %}" class="nav-item nav-link text-center">
        <div class="btn {% if request.resolver_match.url_name == 'items' %}bg-dark-subtle{% endif %}">
          <i class="fa-solid fa-plus"></i>
        </div>
        <div>
          <small>Book</small>
        </div>
      </a>
      <a href="{% url 'lents' %}" class="nav-item nav-link text-center">
        <div class="btn {% if request.resolver_match.url_name == 'lents' %}bg-dark-subtle{% endif %}">
          <i class="fa-solid fa-hourglass"></i>
        </div>
        <div>
          <small>My lents</small>
        </div>
      </a>
      <a href="#" class="nav-item nav-link text-center">
        <div class="btn {% if request.resolver_match.url_name == 'calendar' %}bg-dark-subtle{% endif %}">
          <i class="fa-solid fa-calendar"></i>
        </div>
        <div>
          <small>Calendar</small>
        </div>
      </a>

      <a href="#" class="nav-item nav-link text-center">
        <div class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <i class="fa-solid fa-gear"></i>
        </div>
        <div>
          <small>Settings</small>
        </div>
      </a>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-body d-flex align-items-end flex-column">
          <div class="d-flex align-items-center mt-auto">
            <div class="me-2">
              <small>You're logged in as <strong>{{ user.username }}</strong></small>
            </div>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>
          </div>
        </div>
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><i class="fa-solid fa-gear"></i> Settings</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
      </div>
    </nav>

    {% block content_top %}

    {% endblock %}

    <div class="container">
      {% block content %}

      {% endblock %}
    </div>

    <script src="" async defer></script>
  </body>
</html>
