<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>

    <div class="container">
        <ul class="nav bg-info">
            <li class="nav-item">
                <a class="nav-link link-light" href="/items">Items</a>
            </li>
        </ul>

        {% if item_list %}
        <!-- <ul>
            {% for item in item_list %}
            <li>{{ item.name }} {{ item.type }}</li>
            {% endfor %}
        </ul> -->

        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
            </tr>
            {% for item in item_list %}
            <tr>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.type }}
                </td>
            </tr>
            {% endfor %}

        </table>
        {% else %}
        <p>No items are available.</p>
        {% endif %}
    </div>
</body>

</html>
