{% extends 'lentapp/base.html' %}
{% load static %}

{% block content %}
  <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="filterModalLabel">When do you need an item?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row gy-2 gx-3 align-items-center" id="filterAvailableItemsForm">
            <div class="col-auto">
              <label for="startDate" class="visually-hidden">Start</label>
              <div class="input-group">
                <div class="input-group-text">Start</div>
                <!-- TODO: automatically set min and value -->
                <input class="form-control" type="datetime-local" id="startDate" name="startDate" min="2024-02-14T08:30" value="2024-02-14T20:30" required />
              </div>
            </div>
            <div class="col-auto">
              <label for="duration" class="visually-hidden">Duration (hours)</label>
              <div class="input-group">
                <div class="input-group-text">Duration</div>
                <input type="number" class="form-control" id="duration" min="0" max="24" step="0.5" required />
                <div class="input-group-text">h</div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="filterAvailableItemsForm">Search</button>
        </div>
      </div>
    </div>
  </div>

  {% comment %} <form>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label for="start-date">Start Date:</label>
        <input class="form-control" type="date" id="start-date" name="start-date" required />
      </div>
      <div class="col-auto">
        <label for="start-time">Start Time:</label>
        <input class="form-control" type="time" id="start-time" name="start-time" required />
      </div>
      <div class="col-auto">
        <label for="user-name">Your Name:</label>
        <input class="form-control" type="text" id="user-name" name="user-name" required />
      </div>
      <div class="col-auto">
        <label for="email">Your Email:</label>
        <input class="form-control" type="email" id="email" name="email" required />
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="submit">Show available items</button>
      </div>
    </div>
  </form> {% endcomment %}

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for item in item_list %}
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'img/bike.jpg' %}" class="card-img-top" alt="Item image" />
          <div class="card-header">
            <button class="btn btn-success">Book</button>
            <button class="btn btn-outline-secondary">Details</button>
          </div>
          {% comment %} <div class="card-img-overlay"></div> {% endcomment %}
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description }}</p>
            <p class="card-text">{{ item.use_conditions|safe }}</p>
          </div>
          <div class="card-footer">
            {% if item.is_currently_available %}
              <small class="text-muted">
                <i class="fa-solid fa-check" style="color: #26a269;"></i>
                available now
              </small>
            {% else %}
              <small class="text-muted">
                <i class="fa-regular fa-hourglass-half" style="color: #e5a50a;"></i>
                available after {{ item.will_be_available_at }}
              </small>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="fixed-bottom text-center mb-4">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">Find available items</button>
  </div>
{% endblock %}
