{% extends 'lentapp/base.html' %}
{% load static %}
{% load tz %}

{% block content_top %}
  <div class="container">
    <div class="alert alert-primary" role="alert">
      <div class="d-flex flex-column flex-md-row align-items-center">
        <div class="flex-grow-1">
          You need to select a <strong>date</strong>, <strong>time</strong>, and <strong>duration</strong> in order to book an item.
        </div>
        <div>
          <button type="button" class="btn btn-primary text-nowrap mt-2" data-bs-toggle="modal" data-bs-target="#filterModal">Choose a time</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="filterModalLabel">When do you need an item?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/items/" method="post" class="" id="filterAvailableItemsForm">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="mb-3">
              <label for="{{ form.date_start.id_for_label }}">Date</label>
              {{ form.date_start }}
            </div>
            <div class="mb-3">
              <label for="{{ form.time_start.id_for_label }}">Time</label>
              {{ form.time_start }}
            </div>
            <div class="">
              <label for="{{ form.duration.id_for_label }}">Duration</label>
              <div class="input-group">
                {{ form.duration }}
                <div class="input-group-text">hours</div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="filterAvailableItemsForm">Search</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for item in item_list %}
      <div class="modal fade" id="termsModal{{ item.id }}" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="termsModalLabel">Terms and conditions</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4>Use terms</h4>
              <p>{{ item.use_conditions }}</p>

              <h4>Pick up and return</h4>
              <p>You can pick up the item at {{ datetime_start|localtime|time }} on {{ datetime_start|localtime|date }}</p>
              <p>The item must be returned by {{ datetime_end|localtime|time }} on {{ datetime_end|localtime|date }}</p>

              <h4>Lent it or leave it</h4>
              <p>
                By clicking <strong>I Accept</strong>, you agree to these terms. The booking will be completed afterwards.
              </p>
            </div>
            <div class="modal-footer">
              <form action="{% url 'book-item' item.id %}" method="post" class="">
                {% csrf_token %}
                <input type="hidden" name="datetime_start" value="{{ datetime_start|date:'c' }}" />
                <input type="hidden" name="datetime_end" value="{{ datetime_end|date:'c' }}" />
                <button type="submit" class="btn btn-success">I Accept</button>
              </form>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="{% static 'img/bike_small.jpg' %}" class="card-img-top" alt="Item image" />
          {% block additional_itemcard_buttons %}
            {% comment %} <button class="btn btn-outline-primary">Details</button> {% endcomment %}
          {% endblock %}
          {% comment %} <div class="card-img-overlay"></div> {% endcomment %}
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description }}</p>
          </div>
          <div class="card-footer">
            {% if item.is_currently_available %}
              <small class="text-muted">
                <i class="fa-solid fa-check" style="color: #26a269;"></i>
                available now
              </small>
            {% elif item.is_overdue %}
              <small class="text-muted">
                <i class="fa-solid fa-hourglass-end" style="color: #a51d2d;"></i>
                not returned since {{ item.overdue_since }}
              </small>
            {% else %}
              <small class="text-muted">
                <i class="fa-solid fa-hourglass-half" style="color: #e5a50a;"></i>
                available after {{ item.next_availability }}
              </small>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% comment %} <div class="fixed-bottom text-center mb-4">
    {% block item_filter_button %}
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">Find available items</button>
    {% endblock %}
  </div> {% endcomment %}
{% endblock %}
