{% extends 'lentapp/base.html' %}
{% load static %}
{% load tz %}

{% block modals %}
  {% for lent in lent_list %}
    {% if lent.status.name == 'ACTIVE' or lent.status.name == 'OVERDUE' %}
      <div class="modal fade" id="returnModal{{ lent.id }}" tabindex="-1" aria-labelledby="returnModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="returnModalLabel">Return {{ lent.item.name }}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% if lent.status.name == 'ACTIVE' %}
                <h4>
                  <i class="fa-solid fa-circle fa-beat" style="color: #26a269;"></i>
                  Status: active
                </h4>
                <p>
                  You have booked the item until:
                </p>
                <p>
                  <strong>{{ lent.time_end|localtime }}</strong>
                </p>
                <p>Feel free to return it earlier if you don't need it anymore, so others can use it.</p>
                <h4>Return conditions</h4>
                <p>Make sure everything is fine. Make sure to report any damages or problems you encountered with {{ lent.item.name }}.</p>
                <p>
                  By clicking <strong>Return now</strong>, you agree that the item is returned according to these conditions.
                </p>
              {% elif lent.status.name == 'OVERDUE' %}
                <h4>
                  <i class="fa-solid fa-circle fa-beat" style="color: #a51d2d;"></i>
                  Status: overdue
                </h4>
                <p>
                  You should have returned the item by <strong>{{ lent.time_end|localtime }}</strong>. Please return it immediately!
                </p>
                <h4>Return conditions</h4>
                <p>Make sure everything is fine. Make sure to report any damages or problems you encountered with {{ lent.item.name }}.</p>
                <p>
                  By clicking <strong>Return now</strong>, you agree that the item is returned according to these conditions.
                </p>
              {% endif %}
            </div>
            <div class="modal-footer">
              <form action="{% url 'return-item' lent.id %}" method="post" class="">
                {% csrf_token %}
                {% comment %} <input type="hidden" name="datetime_start" value="{{ datetime_start|date:'c' }}" />
                <input type="hidden" name="datetime_end" value="{{ datetime_end|date:'c' }}" /> {% endcomment %}
                <button type="submit" class="btn btn-danger">Return now</button>
              </form>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    {% elif lent.status.name == 'PLANNED' %}
      <div class="modal fade" id="cancelModal{{ lent.id }}" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="cancelModalLabel">Cancel {{ lent.item.name }}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4>Details</h4>
              <ul>
                <li>Starts {{ lent.time_start|localtime }}</li>
                <li>Ends {{ lent.time_end|localtime }}</li>
              </ul>
              <h4>Are you sure?</h4>
              <p>
                After clicking <strong>Yes, cancel</strong> your reservation will be removed.
              </p>
            </div>
            <div class="modal-footer">
              <form action="{% url 'cancel-lent' lent.id %}" method="post" class="">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, cancel</button>
              </form>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block content %}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for item_dict in item_list %}
      {% comment %}MODALS{% endcomment %}

      <div class="col">
        <div class="card">
          <img src="{% static 'img/bike_small.jpg' %}" class="card-img-top" alt="Item image" />
          <div class="card-body">
            <h5 class="card-title">{{ item_dict.item.name }}</h5>
          </div>
          <ul class="list-group list-group-flush">
            {% for lent in item_dict.lents %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {% if lent.status.name == 'ACTIVE' %}
                  <small class="text-muted">
                    <i class="fa-solid fa-circle fa-beat" style="color: #26a269;"></i>
                    active until {{ lent.time_end|localtime }}
                  </small>
                {% elif lent.status.name == 'PLANNED' %}
                  <small class="text-muted">
                    <i class="fa-regular fa-circle" style="color: #26a269;"></i>
                    scheduled for {{ lent.time_start|localtime }}
                  </small>
                {% elif lent.status.name == 'OVERDUE' %}
                  <small class="text-muted">
                    <i class="fa-solid fa-circle fa-beat" style="color: #a51d2d;"></i>
                    <strong>overdue</strong> since {{ lent.time_end|localtime }}
                  </small>
                {% elif lent.status.name == 'RETURNED' %}
                  <small class="text-muted">
                    <i class="fa-solid fa-flag-checkered"></i>
                    returned {{ lent.time_return|localtime }}
                  </small>
                {% endif %}

                {% if lent.status.name == 'ACTIVE' or lent.status.name == 'OVERDUE' %}
                  <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#returnModal{{ lent.id }}">Return</button>
                {% elif lent.status.name == 'PLANNED' %}
                  <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#cancelModal{{ lent.id }}">Cancel</button>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
